body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.googlebutton {
  height: 50px;
  border-radius: 5px;
  white-space: nowrap;
  padding-left: 42px;
  padding-right: 42px;
}
.googl {
  /* position: relative; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
